@import 'tailwindcss';

@theme {
  /* color palette */
  --color-background: #030712;
  --color-foreground: #f9fafb;
  --color-neutral: #9ca3af;
  --color-primary: #7c3aed;
  --color-secondary: #1f2937;

  /* @media (prefers-color-scheme: dark) { */
  /* TODO: dark and light colors */
  /* } */

  /* font settings */
  --font-sans:
    Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  /* customize tw utilities */
  --tracking-wide: 0.25em;
  --tracking-widest: 0.5em;

  --default-transition-duration: 200ms;
  --default-transition-timing-function: ease-in-out;
}

/* custom utilities */
@utility link {
  @apply text-foreground decoration-primary underline decoration-2 underline-offset-2;
}

html,
body {
  @apply bg-background text-neutral;
}
